html, body {
  font-family: sans-serif;
  margin: 0;
  color: #000000;
}

/* Header */
header {
  padding: 20px;
  height: 50px;
  background-color: #111111;
  line-height: 50px;
}

/* Menu container */
.main-menu {
  float: right;
  margin-right: 50px;
}

/* All top level menus */
.main-menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* All menu items */
.main-menu li {
  margin-right: 5px;
  float: left;
}

/* All sub-menus */
.main-menu li ul {
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 0px 4px 4px 4px;
}

/* Show drop down menus when hovered */
.main-menu li:hover ul {
  display: block;
}

/* Transform sub menus from horizontal to vertical */
.main-menu li:hover li {
  margin-right: 0;
  float: none;
}

/* All menu items links */
.main-menu a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  border-radius: 4px 4px 0px 0px;
}

/* All top level menu items with no sub menus */
.main-menu a:only-child {
  border-radius: 4px;
}

/* Sub menu item links */
.main-menu li ul a {
  background-color: #333;
  border-radius: 0px;
}

/* All menu items links hover effect */
.main-menu a:hover {
  background-color: #444;
}

/* Remove margin on final menu item */
.main-menu > ul > li:last-child {
  margin-right: 0px;
}

/* Main layout */
main {
  width: 900px;
  margin: 25px auto;
  overflow: auto;
  padding:
}

/* Articles */
article {
  float: left;
  width: 400px;
  text-align: justify;
  margin: 2px;
  border: 0px;
  border-style: solid;
  border-color: #111111;
  margin-top: 25px;
}

/* News titles*/
.title1{
  padding: 10px;
}

.title2{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
}

.title3{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
}

h2{
  margin-top: 3px;
  margin-left: 3px;
}

/* Left column */
.article-left {
  margin-left: 0px;
  clear: both;
}

/* Right column */
.article-right {
  margin-right: 0px;
  margin-left: 0px;
  float: left;
}

/* Table formatting */
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border:none;
  border-color:#ccc;
}

.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
}

.tg th {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
}

.tg .tg-left {
  background-color:#ffffff;
  vertical-align:top
 }

.tg .tg-right {
  background-color:#f9f9f9;
  vertical-align:top
}


.tg .tg-title {
  font-weight:bold
}


.tg .tg-content {
  vertical-align:top
}

/* Button formatting */
.button {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: red;
  float: left;
  margin-left: 5px;
  margin-bottom: 0px;
}

/* Mobile components */
.mobile-menu {
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(-250px);
  transition: transform .25s ease-in-out;
  background-color: #EEE;
  height: 100%;
  overflow-y: scroll;
}
.mobile-menu h2 {
  color: #FFF;
  margin: 0;
  height: 90px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #111111;
  line-height: 40px;
  font-weight: normal;
}
.mobile-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.mobile-menu a {
  display: block;
  padding: 5px 25px;
  color: #000000;
  text-decoration: none;
}
.mobile-menu a:hover {
  background-color: rgba(0,0,0,0.15);
}
.mobile-menu li ul a {
  font-size: 0.8em;
  padding: 0px 25px 0px 35px;
}

/* Burger checkbox */
.burger {
  display: none;
}

/* Burger label */
.burger-label {
  display: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  float: right;
  color: #EEE;
  text-decoration: none;
  border-radius: 4px;
}

/* Burger label hover */
.burger-label:hover {
  background-color: #444;
}

/* Burger label before pseudo element */
.burger-label:before {
  content:'\2630';
}
.burger-label:hover {
  cursor: pointer;
}

/* Footer */
footer {
  height: 50px;
  padding: 25px;
  box-sizing: border-box;
  color: #EEE;
  background-color: #111111;

}

/* Media Queries */
@media (max-width: 880px) {
  .burger:checked + .mobile-menu {
    left: 0;
    transform: translateX(0);
    transition: transform .25s ease-in-out;
  }
  .main-menu {
    display: none;
  }
  .burger-label {
    display: block;
  }
  main {
    width: 100%;
    padding: 0px 25px;
    box-sizing: border-box;
  }
  article {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
